#imgPane {
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
}

#title {
	padding-top: 40px;
	text-transform: uppercase;
	font-size: 60px;	
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#desc {
	text-align: center;
	font-style: italic;
	padding-bottom: 40px;
}

#inputPane {
	padding-bottom: 15px;
}

#mainDiv {
	width: 800px; 
}